@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Lexend+Giga:wght@100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #92a09e7c;
}

.container {
    background-color: rgb(14, 46, 73);
    max-width: 800px;
    width: 50vw;
    border-radius: 5px;
    padding: 10px;
    margin: 100px auto 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
    position: relative;
}

.task-input-container{
    background-color: rgb(14, 46, 73);
    height: 160px;
    position: sticky;
    top: -1px;
}

.title {
    font-family: "Kaushan Script";
    font-size: 3em;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.input-task {
    background-color: white;
    border: none;
    font-family: "Passion One";
    font-weight: bold;
    font-size: 1.2em;
    width: 50%;
    height: 50px;
    padding-left: 10px;
    border-radius: 10px;
}

.button-add-task {
    background-color: white;
    color: rgb(14, 46, 73);
    font-size: 1.2em;
    font-family: "Passion One";
    font-weight: normal;
    text-align: center;
    height: 50px;
    width: 30%;
    padding: 0 15px;
    border: none;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
    position: sticky;
    top: -1px;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    margin-top: 30px;
    width: 100%;
    list-style: none;
}

.task {
    background-color: #302c2c;
    color: white;
    font-family: "Sriracha";
    font-weight: normal;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
}

.done {
    background-color: #1f2423;
}

.fa-solid {
    color: white;
    font-size: 1.5em;
    margin-right: 10px;
}

@media (max-width: 950px) {
    .container {
        width: 80vw;
    }
    .input-task {
        width: 50%;
        font-size: 1.2em;
    }

    .button-add-task {
        width: 30%;
        font-size: 1.2em;
    }

    
}

@media (max-width: 650px) {
    .container {
        width: 90vw;
    }
    .input-task {
        width: 50%;
        font-size: 1em;
    }

    .button-add-task {
        width: 30%;
        font-size: 1em;
    }

}

@media (max-width: 370px) {
    .container {
        width: 100vw;
    }
    .input-task {
        width: 50%;
    }

    .button-add-task {
        width: 30%;
    }

    .task {
        font-size: 0.8em;
    }
}